<ul class="list-inline">
  <li>
    <%= button_to client_productivity_path(@client,productivity), method: :get, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    <% end %>
  </li>
  <li>
    <%= button_to edit_client_productivity_path(@client,productivity), method: :get, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <% end %>
  </li>
  <li>
    <%= button_to client_productivity_path(@client,productivity), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
  </li>
</ul>
