<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    Cliente
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><%= link_to "Todas as produtividades", productivities_path %></li>
    <% Client.find_each do |client| %>
      <li><%= link_to client.name, productivities_path(:client => client) %></li>
    <% end %>
  </ul>
</div>
