<% unless @productivities.nil? %>

  <h1>Produtividades</h1>

  <ul class="list-inline">
    <li>
      <%= render partial: 'client_menu' %>
    </li>

    <% if can? :create, Productivity %>
    <li>
      <%= button_to new_productivity_path, method: :get, class: "btn btn-success" do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Novo
      <% end %>
    </li>
    <% end %>

    <li>
      <%= button_to productivities_url(format: "csv"), method: :get, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        Baixar produtividades
      <% end %>
    </li>
  </ul>

  <%= render partial: 'productivities_table' %>

<% end %>
