<p id="notice"><%= notice %></p>

<h1>Agendamentos</h1>

<%= button_to new_schedule_path, method: :get, class: "btn btn-success" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true">Novo</span>
<% end %>

<table id="schedules"
  class="table table-hover"
  data-url="<%= schedules_url(format: "json") %>"
  data-toggle="table"
  data-id-table="advancedTable"
  data-search="true"
  data-pagination="true"
  >
  <thead>
    <tr>
      <th data-field="client.name" data-sortable="true">Cliente</th>
      <th data-field="name" data-sortable="true">Nome da empresa</th>
      <th data-field="contact_name" data-sortable="true">Nome do contato</th>
      <th data-field="contact_phone" data-sortable="true">Telefone do contato</th>
      <th data-field="contact_datetime" data-sortable="true">Data do contato</th>
      <th data-field="visit_datetime" data-sortable="true">Data da Visita</th>
      <th data-field="address" data-sortable="true">Endereço</th>
      <th data-field="observation" data-sortable="true">Observações</th>
      <th data-field="status" data-sortable="true">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
