<% unless @schedules.nil? %>

  <h1>Agendamentos</h1>

  <ul class="list-inline">
    <li>
      <%= render partial: 'client_menu' %>
    </li>
    <li>
      <%= button_to new_schedule_path, method: :get, class: "btn btn-success" do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
      <% end %>
    </li>
    <li>
      <%= button_to schedules_path(format: "csv"), method: :get, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        Baixar agendamentos
      <% end %>
    </li>
  </ul>

  <%= render partial: 'schedules_table' %>

<% end %>
