
<p><%= render partial: 'client_menu' %></p>

<% unless @schedules.nil? %>
  <h1>Agendamentos de <%= @client.name %></h1>
<% end %>

<% unless @schedules.nil? %>
  <%= button_to new_client_schedule_path(@client.id), method: :get, class: "btn btn-success" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true">Novo</span>
  <% end %>

  <%= render partial: 'schedules_table' %>
<% end %>
