// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-btns
{
  text-align: center;
  vertical-align: middle;
}

.status-desc-menu-btn
{
  width: 180px;
  white-space: normal;
}
