<p id="notice"><%= notice %></p>

<h1>Status</h1>

<table id="table"
  class="table table-hover"
  data-toggle="table"
  data-search="true"
  data-url=""
  data-pagination="true"
  data-show-columns="true"
  data-show-refresh="true">
  <thead>
    <tr>
      <th></th>
      <% @months.each do |m| %>
        <th data-sortable="true"><%= m %></th>
      <% end %>
      <!-- <th data-field="client_name" data-sortable="true">Total</th> -->
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <% (1..5).each do |s| %>
        <tr>
          <td></td>
          <% @months.each do |m| %>
            <td><%= get_schedules_count(@schedules[m],c.id,s) %></td>
          <% end %>
        </tr>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
